# terraform.tfvars.example
# Copy to terraform.tfvars and fill in your values.
# WARNING: terraform.tfvars is gitignored. NEVER commit this file.

project_id   = "project-d4899a6a-135b-4a98-b1b"
region       = "asia-south1"
db_zone      = "asia-south1-a"
sandbox_zone = "asia-south1-c"

# Service accounts
sandbox_service_account  = "897120847312-compute@developer.gserviceaccount.com"
cloud_run_service_account = "897120847312-compute@developer.gserviceaccount.com"
